<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<system.web>
		<!---->
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<appSettings>
		<!--<add key="oidc:Authority" value="https://connect.openathens.net" />-->
		<add key="oidc:Authority" value="https://upravbot.ru/IDS4" />
		<!--<add key="oidc:ClientId" value="{clientId from the OIDC application record created in the publisher dashboard}" />-->
		<add key="oidc:ClientId" value="{mvc}" />
		<!--<add key="oidc:ClientSecret" value="{clientSecret from the OIDC application created in the publisher dashboard}" />-->
		<add key="oidc:ClientSecret" value="{secret}" />
		<add key="oidc:RedirectUrl" value="http://localhost:5002/signin-oidc" />
		<!--http://localhost:64339/-->
		<!--http://localhost:44332/-->
		<!--Server=172.20.20.34;Database=kvorum;User Id=sa;Password=g4VU1Y; -->
		<add key="MyConnection" value="Server=172.20.20.24;Database=kvorum;User Id=sa;Password=g4VU1Y;" />
		<add key="ExternalIp" value="http://31.3.22.226:12480/"	/>
	</appSettings>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, OPTIONS, DELETE" />
				<add name="Access-Control-Request-Headers" value="Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers" />
				<add name="Access-Control-Request-Method" value="GET, POST, PUT, OPTIONS, DELETE" />
				<add name="Access-Control-Allow-Headers" value="Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers" />
			</customHeaders>
		</httpProtocol>
		<defaultDocument>
			<files>
				<clear />
				<add value="HomePage.aspx" />
			</files>
		</defaultDocument>
		<staticContent>
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Kvorum_App.UploadApiAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="Kvorum_App.UploadApi">
				<endpoint address="" behaviorConfiguration="Kvorum_App.UploadApiAspNetAjaxBehavior" binding="webHttpBinding" contract="Kvorum_App.UploadApi" />
			</service>
		</services>
	</system.serviceModel>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
				<!--4.1.1.0-->
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
<!--ProjectGuid: F906B5B6-ED8B-4440-9127-292A82396B47-->