<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <pages validateRequest="false" />
    <httpRuntime maxRequestLength="20971500" maxUrlLength="2097151" maxQueryStringLength="2097151" requestPathInvalidCharacters="" />
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4" />
    </switches>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\wcfServiceLog.xml" />
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="True" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>

        <binding name="b1" crossDomainScriptAccessEnabled="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>

        <binding name="basicHttpsBinding" crossDomainScriptAccessEnabled="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <security mode="Transport">
            <transport clientCredentialType="None" />
           
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>

      </webHttpBinding>

    </bindings>

    <services>
        <service name="WcfServices.Constructor_API">
          
          <endpoint address="" binding="webHttpBinding" bindingConfiguration="basicHttpsBinding" contract="WcfServices.Constructor_API" />

          <endpoint address="" binding="webHttpBinding" bindingConfiguration="b1" contract="WcfServices.Constructor_API" />
          <!--
          <endpoint address=""
                 binding="webHttpBinding" bindingConfiguration="b1"
                 contract="WcfServices.Constructor_API" />
                 -->
        </service>
      <service name="Server.QUICK_API">
   <!--
        <host>
          <baseAddresses>
            <add baseAddress="MATORIN.QUICK_API.svc" />
          </baseAddresses>
        </host>
-->
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="b1" contract="Server.IService" />
		<endpoint address="" binding="webHttpBinding" bindingConfiguration="basicHttpsBinding" contract="Server.IService" />
      </service>

        
      </services>


    <protocolMapping>
      <add binding="webHttpBinding" bindingConfiguration="b1" scheme="http" />
      <add binding="webHttpBinding" bindingConfiguration="basicHttpBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
    </standardEndpoints>
    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <requestLimits maxUrl="40960" maxQueryString="2097151" />
      </requestFiltering>
    </security>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="MATORIN" connectionString="Server=localhost;Database=TestDB;User ID=quick_api;Password=Qwerty1!;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    <add name="MATORIN_Q" connectionString="Server=localhost;Database=kvorum;User ID=kvorum;Password=kvorum1!;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: e0e8121e-41ec-498a-bfd0-466f48e62b24-->
<!--ProjectGuid: CE1D5979-329B-40AB-9DC8-8FD20BB1EE8F-->