<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <pages validateRequest="false" />
    <httpRuntime maxRequestLength="20971500" maxUrlLength="2097151" maxQueryStringLength="2097151" requestPathInvalidCharacters="" />
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4" />
    </switches>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\wcfServiceLog.xml" />
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <!--
    <services>
      <service name="Server.QUICK_API">
        <endpoint address="" binding="webHttpBinding" contract="Server.IService" />
      </service>
    </services>
    -->
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Server.QUICK_API">
        <host>
          <baseAddresses>
            <add baseAddress="../WCFServices/MATORIN.QUICK_API.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServices.Constructor_API">
        <host>
          <baseAddresses>
            <add baseAddress="../WCFServices/Constructor_API.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" />
      <!--<add binding="basicHttpsBinding" scheme="https" />-->
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <requestLimits maxUrl="40960" maxQueryString="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="MATORIN" connectionString="Server=localhost;Database=TestDB;User ID=quick_api;Password=Qwerty1!;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    <add name="MATORIN_Q" connectionString="Server=localhost;Database=kvorum;User ID=kvorum;Password=kvorum1!;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: e0e8121e-41ec-498a-bfd0-466f48e62b24-->
<!--ProjectGuid: CE1D5979-329B-40AB-9DC8-8FD20BB1EE8F-->